#root {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  color: #ffffff;
  font-family: Arial;
  background-image: url("./Background.jpg");
  background-color: #0e4fd1;
  background-size: cover;
  background-position: center;
}

.Search {
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clock {
  font-size: 72px;
  margin-bottom: 40px;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 40px;
  background-color: #29c178;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}

.search-bar input[type="text"] {
  width: 100%;
  height: 100%;
  border: none;
  padding: 0 10px;
  font-size: 16px;
  background-color: #3b4252;
  color: #eceff4;
  border-radius: 20px;
  text-align: center;
}

.search-bar input[type="text"]:hover {
  animation-play-state: paused;
}

.search-bar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.search-bar:hover::before {
  opacity: 1;
}

.weathercards {
  margin-top: auto;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 130px;
}

@media (max-width:850px) {
  #root {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 100vh;
    width: 100vw;
    margin: 0;
    color: #ffffff;
    font-family: Arial;
    background-image: url("./Background.jpg");
    background-color: #0e4fd1;
    background-size: cover;
    background-position: center;
  }

  .weathercards {
    margin-top: 5vh;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 130px;
  }

  .Search {
    margin-top: 20vh;
    margin-bottom: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: 40px;
    background-color: #29c178;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
  }

  .clock {
    font-size: 15vw;
    margin-bottom: 40px;
  }
}

@media (min-height:500px) and (min-width:700px) and (max-width:1250px) {
  #root {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 100vh;
    width: 100vw;
    margin: 0;
    color: #ffffff;
    font-family: Arial;
    background-image: url("./Background.jpg");
    background-color: #0e4fd1;
    background-size: cover;
    background-position: center;
  }

  .weathercards {
    margin-top: 5vh;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    height: 130px;
  }

  .Search {
    margin-top: 20vh;
    margin-bottom: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80vh;
    height: 5vw;
    background-color: #29c178;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
  }

  .clock {
    font-size: 15vh;
    margin-bottom: 40px;
  }
}

@media (max-height:500px) and (min-width:100px) and (max-width:1250px) {
  #root {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    color: #ffffff;
    font-family: Arial;
    background-image: url("./Background.jpg");
    background-color: #0e4fd1;
    background-size: cover;
    background-position: center;
  }

  .weathercards {
    margin-top: 5vh;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
  }

  .Search {
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80vh;
    height: 5vw;
    background-color: #29c178;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
  }

  .clock {
    font-size: 15vh;
    margin-bottom: 40px;
  }
}